  {% extends 'base.html'%}
  {% block content %}
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>Client name</th>
              <th>Workplace</th>
              <th>Client Status</th>
              <th>Phone number</th>
              <th>Marital status</th>
            </tr>
          </thead>
          <tbody>
            {% for client in clients %}
            <tr>
              <td>{{client.id}}</td>
              <td><a href="{% url "client" client.id %}" type="text">
                {{client.name}}</a></td>
              <td>{{client.workplace}}</td>
              <td class= {% if client.client_status == 'активный'%} active 
              {% elif client.client_status == 'неактивный' %} inactive 
              {% else %} satisfactory {% endif %}>
              {{client.client_status}}</td>
              <td>{{client.phone_number}}</td>
              <td>{{client.marital_status}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endblock %}
    